In [ ]:
# in case of new notebook, use the commented code to load the data:

import pandas as pd

file1 = pd.read_csv('./file1.csv')
file2 = pd.read_csv('./file2.txt', sep = '\t')
file3 = pd.read_excel('./file3.xlsx')
file4 = pd.read_excel('./file4.xlsx')
column_names = file1.columns
#donors = pd.DataFrame(columns=column_names)
donors = pd.concat([file1,file2,file3,file4], axis=0)
cols = []
for colname in donors.columns:
    cols.append(colname.lower())
donors.columns = cols
donors = donors.rename(columns={'controln':'id',
                                'hv1':'median_home_val', 
                                'ic1':'median_household_income'})
donors['median_home_val'] =  pd.to_numeric(donors['median_home_val'], errors='coerce')
donors['ic5'] =  pd.to_numeric(donors['ic5'], errors='coerce')
donors = donors.drop_duplicates()
donors = donors.reset_index(drop=True)

donors.shape

In [ ]:
donors.head()

In [ ]:
donors.dtypes
donors.head(25)

In [ ]:
donors.isna().sum()

In [ ]:

round(donors.isna().sum()/len(donors),4)*100  # shows the percentage of null values in a column
nulls_df = pd.DataFrame(round(donors.isna().sum()/len(donors),4)*100)
nulls_df
nulls_df = nulls_df.reset_index()
nulls_df
nulls_df.columns = ['header_name', 'percent_nulls']
nulls_df

In [ ]:
columns_drop = nulls_df[nulls_df['percent_nulls']>3]['header_name']  # dummy case with 3
print(columns_drop.values)
#donors = donors.drop(columns_drop, axis=1)  # drop a list of columns DO NOT RUN THIS
#donors = donors.drop(['gender'], axis=1)  # drop a single column DO NOT RUN THIS

In [ ]:
# Replacing/imputing null values

donors[donors['gender'].isna()==True].head(60) # checking rows that are null based on a specific column

In [ ]:
# strategy: drop rows that have null values (only if there are very few)
donors = donors[donors['ic2'].isna()==False] # Since these nulls are not a lot, we can filter them

donors.isna().sum()
donors.shape

In [ ]:
# strategy: impute a value for the missing value (fill in a value that we choose or calculate)
# import numpy
import numpy as np
mean_median_home_value = donors['median_home_val'].mean()
mean_median_home_value
donors['median_home_val'] = donors['median_home_val'].fillna(mean_median_home_value)

In [ ]:
donors['median_home_val'].mean()

In [ ]:
donors.isna().sum()

In [ ]:
#Activity 1

Refer to the file files_for_activities/file1.csv for this exercise.

Load data (file1.csv) in a new Jupyter notebook.
Write the code to clean the columns 'ic4' and 'ic5' of null values in the dataframe.
Use the head() to check the new dataframe.

In [ ]:
#End of Activity 1

In [ ]:
# Replacing null values for categorical variables
donors['gender'].unique()
donors['gender'].value_counts()

donors['gender'].value_counts(dropna=False)
#len(donors[donors['gender'].isna()==True])  # number of missing values

In [ ]:
# use most common value to fillna
donors['gender'] = donors['gender'].fillna('F')
len(donors[donors['gender'].isna()==True]) # now this number is 0
donors['gender'].value_counts(dropna=False)

In [ ]:
# Exporting this processed data to a csv
donors.to_csv('merged_clean_ver0.csv', index=False) # you can find this file inside files_for_lesson_and_activities folder

In [ ]:
donors['gender'].value_counts(dropna=False)

In [ ]:
#Activity 2

In [ ]:
# Refer to the file files_for_activities/merged_clean_ver1.csv for this exercise.

#1 Import the data from merged_clean_ver1.csv as a dataframe. There would be a column with the sequence of numbers (to the left of column id). Drop that column(s).

In [ ]:
# 2 Check the column state for null values. Replace those null values with the state that is represented largest number of times in that column

# ##data1['state'] = data1['state'].fillna('CA')

In [ ]:
#End of Activity 2

In [ ]:
donors.columns

In [ ]:
# map functions

list(map(len, donors.columns))
list(map(lambda el: el.upper(), donors.columns)) # we did this with a for loop earlier
# # # donors
donors['gender'].unique() # check the unique values in the column
donors['gender'] = list(map(lambda x: x.upper(), donors['gender']))
donors['gender'].unique()

In [ ]:
#donors['gender'].unique()  # check the unique elements in the column
# Now define a function to clean the column
def clean(x):
    if x in ['M', 'MALE']:
        return 'Male'
    elif x.startswith('F'):
        return 'Female'
    else:
        return 'U'

donors['gender'] = list(map(clean, donors['gender']))
donors['gender'].unique()  # To check the results again

In [ ]:
donors['gender'].value_counts()

In [ ]:
# Examples of working with datetime format:

file = pd.read_csv('df_final_web_data_pt_1.csv')
file.head()

file['date_time'] = pd.to_datetime(file['date_time'], errors='coerce')
file.head()

In [ ]:
file['date_time'][0]

In [ ]:
file['date_time'][0].day
file['date_time'][0].month
file['date_time'][0].year
file['date_time'][0].isoweekday()  # Returns 1 for Monday and so on

file['date_time'][0].time()
file['date_time'][0].isoweekday()
file['date_time'][0].isoformat()
file['date_time'][0].strftime(format='%d-%m-%Y')
file['date_time'][0].strftime(format="%A %d. %B %Y")

In [ ]:
import time
from datetime import date

today = date.today()
today.strftime(format='%d-%m-%Y')

time.localtime(time.time())
time.gmtime(time.time())

In [ ]:
# Examples of working with string functions

string = " I am learning  data  analysis at Ironhack  . It is  super easy "
string.lower()
string.upper()
'34'.isdigit() # does not work with decimal numbers
str2 = '42'
str2.isdigit()
string = string.lstrip()
string
string.rstrip()
string.split()
string.split('.')
string.replace('  ', ' ')

In [ ]:
#Acticity 4
# Create a user-defined method to clean the column state in the dataframe.
# Use string functions to standardize the states to uppercase and use the strip function to clean the strings as well.

In [ ]:
#End Activity 4

In [ ]:
# Exporting this processed data to a csv
donors.to_csv('merged_clean_ver2.csv')